  <section class="newsletter">

    <article>

      <aside class="text">

        <h2>Join the Newsletter</h2>

        <p>Stay up to date and find out when new guides and lessons are posted by signing up for the newsletter, delivered to your inbox with absolutely no spam, ever.</p>

      </aside>

      <form method="post" action="https://tinyletter.com/simonreed">

        <ul>
          <li class="input">
            <input type="email" placeholder="Email Address" name="email" required="required">
            <input type="hidden" value="1" name="embed"/>
          </li>
          <li class="button">
            <button>Join<span class="desktop"> the Newsletter</span></button>
          </li>
        </ul>

      </form>

      <aside class="icon">

        <span class="image"><img src="/img/newsletter.png" width="300" height="300"></span>

      </aside>

    </article>

  </section>