      <aside class="product">

        <a href="/book">
          <span class="image"><img src="http://placehold.it/140x200"></span>
        </a>

        <h2>Buy the Book</h2>

        <p>Stay up to date and find out when new guides and lessons are posted by signing up.</p>

        <a href="/book" class="button">Buy the Book</a>

      </aside>

    </article>