  <footer>

    <ul>
      <li class="copyright">© Simon Reed Development Limited, registered in England and Wales (08307653).<br/>
Registered address: Unit 11 Hove Business Centre, Fonthill Road, Hove, East Sussex, BN3 6HA</li>
      <li><a href="http://github.com/simonreed" target="_blank"><i class="icon-github"></i></a></li>
    </ul>

  </footer>
