      <aside class="product">

<!--         <a href="/book">
          <span class="image"><img src="http://placehold.it/140x200"></span>
        </a> -->

        <h2>Hire Me</h2>

        <p>Do you want your API to be an expense or an investment?</p>

        <a href="/contact" class="button">Talk to me</a>

      </aside>

    </article>