      <aside class="product">

        <h2>Hire Me</h2>

        <p>Do you want your API to be an expense or an investment?</p>

        <a href="/contact" class="button">Talk to me</a>

      </aside>

    </article>