---
layout: layout
navigation: about
---

  <section class="title">

    <article>

      <h1>Do you want a developer to be an expense or an investment?</h1>

      <span class="image"><img src="img/about.png" width="300" height="300"></span>

    </article>

  </section>

  <section class="post">

    <article class="content">

      <p>I'm an independent Ruby (on Rails) consultant based in North Essex, England with over 15 years experience.</p>

      <p>I help people make great web applications that make my clients more money and their businesses run more efficiently.</p>

      <p>I've worked on a wide range of projects, small and large. My clients include bootstrap startups, VC backed startups through to creative agencies.</p>

      <h2>The best for slightly less</h2>

      <p>While I have senior-level experience, I cost less than your typical development consultancy because I know how to work economically. I work in a small office and I hire other people when needed.</p>

      <h2>You don't want another developer expense you need an investment.</h2>

      <p>Most developers have it wrong! They FOCUS ON JUST WRITING CODE, NOT ON BUILDING YOUR BUSINESS.</p>

      <p>Code and features are great, but if that code doesn’t directly translate into growing your business, it doesn’t matter. My primary focus is how we can improve your balance sheet.</p>

      <p>When you hire me to work on your project, you're not just hiring another code monkey - you're hiring somebody to guide you throughout your project from inception to completion.</p>

      <p>I can help your break down your idea into functional requirements and help you prioritise those requirements in order to get from idea to a working prototype as quickly as possible within your budget.</p>

      <h2>Do you have an existing project that needs help meeting it's business objectives?</h2>

      <p>I often have clients approach me needing help on an existing project that isn't going to plan. Whether it's a startup founder who is having trouble with their codebase as their team grows or a business owner who is spending most of the day within their site admin section. I can review your existing project and advise you what steps are required to get it back on track and working for you, rather than the other way around.</p>

      <p>I make people more money. I don't care about writing code for the sake of it, all I care about is how much I can make you. I’ll analyze your business, find the areas that need to be improved and come up with a game plan to boost your business.</p>

      <h2>In this for the long haul</h2>

      <p>One of the biggest issues people find when working with consultants is that they can flake or they quit to join another company full-time. Not with me.</p>

      <p>I’m not just running a side business until a full-time job comes my way. I want to build strong, long-term relationships with great people.  You can rest easy knowing I’ll always be around.</p>

    </article>

    <article class="promo">

      <%= partial 'newsletter_promo' %>

      <%= partial 'book_promo' %>

  </section>

  <section class="guides guides-grey">

    <!-- BEGIN guide -->
    <% categories.each_with_index do | category, i | %>
    <%= partial 'guide_section', :locals => { :category => category, :i => i } %>
    <% end %>
    <!-- END guide -->

  </section>
