---
layout: layout
navigation: products
---

  <section class="title">

    <article>

      <h1>The Book Title</h1>

      <span class="image"><img src="/img/products.png" width="300" height="300"></span>

    </article>

  </section>

  <section class="post">

    <article class="intro">

      <aside>

        <p>In less than a year I’ve made over $150,000 from self-published books. Plenty of my friends have made far more, all writing on topics so small and targeted a traditional publisher wouldn’t consider it. Many of them started—just like me—without an audience.</p>

        <p>Convinced? <a href="#packages">See the Packages</a>.</p>

      </aside>

      <aside>

        <span class="image"><img src="http://placehold.it/315x450"></span>

      </aside>

    </article>

    <article class="content">

      <h2>Chapter List</h2>

      <ol>
        <li>Introduction</li>
        <li>HTTP</li>
        <li>Status codes</li>
        <li>REST</li>
        <li>Rack</li>
        <li>ActionDispatch</li>
        <li>ActionController</li>
        <li>Responsibility</li>
        <li>Loading</li>
        <li>Command-line Executables</li>
        <li>Configuration Patterns</li>
        <li>Rails Hooks</li>
        <li>Rails View Helpers</li>
        <li>Rails Controller Includes</li>
        <li>Rails Model Includes</li>
        <li>Rails Rake Tasks</li>
        <li>Rails Generators</li>
        <li>Rails Engines (<a href="#">sample chapter</a>)</li>
        <li>Open Source Projects</li>
      </ol>

      <blockquote>

        <cite>Joe Bloggs</cite>
        <p>DNSimple is a DNS provider and domain registrar. Anthony Eden took me on to improve their marketing pages. DNSimple was my first Draft Revise customer, and they have stayed on since the beginning.</p>

      </blockquote>

      <h2>Everything you need to X</h2>

      <p>Learn the conventions and best practices of building an API in Rails and launch your own API today.</p>

      <p>The book is **19 chapters, totaling 136 pages**. Its content ranges from how to get started with defining resources to the nitty gritty of monitoring in a Rails API.</p>

      <p>In addition to the book, I have packaged the code from all 14 technical chapters — several of which include sample Rails API applications. This is the perfect package if you want down to the code level and really get your hands dirty.</p>

      <p>Lastly, I have generated 14 screencasts totaling over 2 hours of video content detailing my workflow. I go through the process of writing the code for each technical chapter and discuss the benefits and downsides to various approaches.</p>

      <h2 id="packages">Choose the package that is right for you.</h2>

      <aside class="packages">

        <div>

          <aside>

            <span class="number">1</span>

            <h3>The Book</h3>

            <ul>
              <li>139 page eBook</li>
            </ul>

            <p><a href="#" class="button button-big">Buy Now for $39</a></p>

          </aside>

          <aside>

            <span class="image"><img src="/img/book.png"></span>

          </aside>

        </div>

        <div>

           <aside>

             <span class="number">2</span>

            <h3>The Book + Code</h3>

            <ul>
              <li>139 page ebook</li>
              <li>14 chapters of code</li>
            </ul>

            <p><a href="#" class="button button-big">Buy Now for $79</a></p>

          </aside>

          <aside>

            <span class="image"><img src="/img/book-code.png"></span>

          </aside>

        </div>

        <div>

          <aside>

            <span class="number">3</span>

            <h3>The Complete Package</h3>

            <ul>
              <li>139 page ebook</li>
              <li>14 chapters of code</li>
              <li>14 screencasts</li>
            </ul>

            <p><a href="#" class="button button-big">Buy Now for $129</a></p>

          </aside>

          <aside>

            <span class="image"><img src="/img/book-complete.png"></span>

          </aside>

        </div>

      </aside>

      <h2>About the author</h2>

      <span class="image image-round"><img src="/img/simon-square.png"></span>

      <p>My name is Simon Reed and I've been feverishly building Ruby applications since 2008.</p>

      <p>I first got started with open source Ruby gems by contributing to Sidekiq. Since then I've written APIs for wide variety of businesses, helping them create kickass APIs for iOS, Android, JS and public use.</p>

      <p>When I attempted to write my first API, I was pretty confused about the standards and conventions necessary to integrate with existing Rails tooling. Since then, I've learned a lot and I decided to write a book.</p>

      <form method="post" action=".">

        <h2>Sign up to get notified when X launches</h2>

        <ul>
          <li class="input">
            <input type="text" placeholder="Name" required="required">
          </li>
          <li class="input">
            <input type="email" placeholder="Email Address" required="required">
          </li>
          <li class="button">
            <button>Notify me when X launches</button>
          </li>
        </ul>

      </form>

    </article>

  </section>