---
layout: layout
navigation: products
---

  <section class="title">

    <article>

      <h1>Consultancy</h1>

      <span class="image"><img src="/img/products.png" width="300" height="300"></span>

    </article>

  </section>

  <section class="post">

    <article class="content">

      <p>What happens after you finish a great design? You make it even better. Introducing <strong>Draft Revise</strong>, a monthly service that optimizes your site and adapts it to the future.</p>

      <p>It’s a lot easier, cheaper, and more beneficial to improve your site on the fly than to redesign it wholesale every few years. I’ll keep making these changes so you can get back to running your business.</p>

      <h2>X are expensive; Y is cheap</h2>

      <p>Taking many small steps to revise an existing site is so much easier than a wholesale redesign. Small steps are faster, cheaper, and they result in less internal conflict. Small steps allow you to test the effects of your changes precisely. On the other hand, full-scale reworks change so many things that you don’t know what, if anything, might have contributed to your success or failure.</p>

      <p>And most importantly, small steps can have a huge impact on your business. People have changed single words in their copy and <strong><a href="#">doubled sales overnight</a></strong>. People have changed single buttons and <strong><a href="#">made $300,000,000 annually</a></strong>. You absolutely need to optimize every detail of your site, no matter whether it’s just launched.</p>

      <h2>Actual expert advice</h2>

      <p>But how do you know what to change? And where? What would you change it to? And how can you measure whether those changes were effective? You hired an agency who helped with the redesign, but now they’re nowhere to be found. You could do it internally, but you’ve got your own work to do.</p>

      <p>I want to improve your site every single month. Sometimes a change will do well, sometimes it might fare poorly – but no matter the result of a test, that is <strong>knowledge you’ll keep for the foreseeable future</strong>, making you smarter about what to do on the web.</p>

      <p>Most top-tier UX talent is booked several months out – and they rarely take on new clients. I’m making myself available to do this because I know the job is not done when I finish a site’s wireframes, and I want to follow through on everything, making my work the best it can possibly be.</p>

      <p>I’m looking for people who have great businesses and are interested in long-term success on the web. I’ll collect data, write up reports for you, propose changes we could potentially make, launch them, and collect their short-term effects in real time. All it takes is a small bit of tracking code on all of the pages that you want to test.</p>

      <h2>Who this is for</h2>

      <p>Draft Revise isn’t for everyone, but you might want to <a href="#">apply at the bottom of this page</a> if any of this sounds like you:</p>

      <ul>
        <li>You’re a <strong>small-to-mid-sized business</strong> who knows that a great internet presence is core to your goals.</li>
        <li>You’re <strong>capable of funding and sustaining a web presence</strong>, but you might not have a large in-house team to support it.</li>
        <li>You have <strong>the courage to try big changes</strong> in how you represent yourself online, so you can better meet your customers’ needs.</li>
      </ul>

      <h2>What you get</h2>

      <p>Draft Revise is a high-touch UX consulting service for websites, billed monthly. It’s run by a <a href="#">real person</a> who has a lot of experience doing this. You’ll get:</p>

      <ul>
        <li><strong>A free ($49/month retail) account on <a href="#">Visual Website Optimizer</a></strong>. If we ever decide to part ways, I’ll transfer this account over to your control. And if you get more than 100,000 hits per month to your home page, I’ll ask you to set up your own account for me to run.</li>
        <li><strong>Heat tracking and click maps</strong>, providing valuable information about what changes we should make.</li>
        <li>A <strong>hypothesis and <a href="#">A/B test</a></strong> for the following month. I’ll roll this out to a certain percentage of your users, and measure how effective it happened to be. (If this <a href="#">sounds</a> like the scientific method, <a href="#">you’re right</a>.)</li>
        <li><strong>A monthly report</strong> summarizing the most important points of your site’s user experience. What was the impact of the previous test, and what test will we be doing in the future? Where are people going, and what are they doing once there? What can we learn from these behaviors? For more about how this will look, <a href="#">here’s an example</a>.</li>
      </ul>

      <h2>Who are you?</h2>

      <span class="image image-round"><img src="/img/simon-square.png"></span>

      <p>I’m <a href="#">Nick Disabato</a>, an interaction designer and writer from Chicago. <a href="#">I’ve previously worked for great clients</a> like Cards Against Humanity, Gravitytank, New Music USA, and Chicago Magazine. I look like that drawing to the right, there. You can read <a href="#">a longer bio</a> if you’re still curious.</p>

      <h2>Are you any good at what you do?</h2>

      <p>I’ve been told so. In the long run, Draft Revise has worked out really well for my clients. Here’s one example:</p>

      <blockquote>

        <cite>Joe Bloggs</cite>
        <p>DNSimple is a DNS provider and domain registrar. Anthony Eden took me on to improve their marketing pages. DNSimple was my first Draft Revise customer, and they have stayed on since the beginning.</p>

      </blockquote>

      <p>I work independently, with hellbent specialization in what I do, and I want to keep my business around for a very long time.</p>

      <h2>How much is this?</h2>

      <p>Glad you asked! I tailor Draft Revise’s pricing to each one of my clients, so you’ll have to apply first. That said, I’d like to work with you for an initial three-month engagement, in order to gauge whether we’d be a good fit.</p>

      <p>I’ll spend a day every month analyzing all your data, writing up the report, and meeting with you to discuss changes as necessary. This is much cheaper than my usual day rate, but I think this service is vitally important and I’m willing to provide a discount for it.</p>

      <p>And if you’re unsatisfied with Draft Revise for any reason after three months, I’ll provide you with a full refund. I stake my business on improving the world and making people happy, and I stand behind all of the work that I do.</p>

      <h2>Apply today</h2>

      <p>I’m looking for the best clients to have a great, long-term business relationship with. Currently, one slot is free. If you’re willing to begin improving your business’s website immediately, you should <a href="#">apply here</a>. I’ll ask you a few questions about what you’re looking to accomplish, and send you payment information so we can make it final. You can pay with a credit card, or by check if you pay annually.</p>

      <p>If you’re curious, you can take a look at Draft Revise’s <a href="#">terms and conditions</a>, which I’ve tried to make as readable and sensible as possible.</p>

      <p>Do you still have any questions? That is reasonable! I would <a href="#">love to hear from you</a>; I’ll get back to you as soon as I can.</p>

      <p>Thanks so much for reading, and I hope you have a great day.</p>

      <p>— Nick Disabato</p>

      <p class="note">PS: If Draft Revise isn’t a good fit for you right now, you can always read my weekly newsletter for free. I provide a lot of great advice, and you can subscribe right here. Or, if you're looking less for A/B testing, and more for a plan for testing…</p>

      <p class="note">PPS: Want the full consulting shebang, instead? You might, if you’re looking to build something from the ground up. Draft Revise is only for already-launched websites. Read more about doing larger projects with me.</p>

      <p class="note">PPPS: That was a lot of text. Thank you for reading all of it. Here is a gif. Also, that link is the most-clicked thing on this entire page, largely because people tend to read “PS” sections more thoroughly than body copy – especially if they have a friendly tone. And now you learned something!</p>

    </article>

  </section>