---
layout: layout
navigation: contact
---

  <section class="title">

    <article>

      <h1>Get in Touch</h1>

      <span class="image"><img src="/img/contact.png" width="300" height="300"></span>

    </article>

  </section>

  <section class="post">

    <article class="content">

      <p>I help people make great web applications that make my clients more money and their businesses run more efficiently. If you're looking to start a new project or have an existing project that isn't meeting its objectives then contact me for a confidential discussion.</p>

      <form method="post" action=".">

        <ul>
          <li class="input">
            <label>First Name</label>
            <input type="text" required="required">
          </li>
          <li class="input">
            <label>Email Address</label>
            <input type="email" required="required">
          </li>
          <li class="input">
            <label>Website URL</label>
            <input type="text" required="required">
          </li>
          <li class="button">
            <button>Reserve your Discussion</button>

            <span>Hurry! Only 1 spot is available</span>
          </li>
        </ul>

      </form>

      <p class="note center">You can also email me directly at <a href="mailto:hello@simonreed.co">hello@simonreed.co</a></p>

    </article>

  </section>