---
layout: layout
navigation: guides
---

<section class="title">

    <article>

      <h1>Guides & Tutorials</h1>

      <span class="image"><img src="img/guides.png" width="300" height="300"></span>

    </article>

  </section>

  <section class="guides">

    <!-- BEGIN guide -->
    <% categories.each_with_index do | category, i | %>
    <%= partial 'guide_section', :locals => { :category => category, :i => i } %>
    <% end %>
    <!-- END guide -->

  </section>