---
layout: layout_home
title: Simon Reed - Freelance Senior Ruby Developer
navigation: home
---

  <section class="cta">

    <article>

      <a href="contact" class="button button-big">I'm available<span class="desktop"> for work</span></a>


      <span class="image image-round"><img src="/img/simon-square.png"></span>

    </article>

  </section>

  <section class="guides">

    <article class="odd">

      <section>

        <aside class="text">

          <h2><a href="/contact">Who I am</a></h2>

          <p>I &hearts; writing clean, stable and well organised software in Ruby. I've got over 10 years experience as a software engineer and I've been freelance for the last 3. I'm the highly experienced senior developer it's so hard to hire full time.</p>

        </aside>

      </section>

    </article>

    <article class="even">

      <section>

        <aside class="text">

          <h2><a href="/contact">What I've made</a></h2>

          <p>I've worked with a variety of organizations such as <a href="http://mintdigital.com">Mint Digital</a>, <a href="https://www.deskbeers.com">Deskbeers</a>, <a href="http://www.taxitoo.co.uk">TaxiToo</a> and <a href="https://www.currencycloud.com/">Currency Cloud</a>. I architect and build systems that power websites, native mobile apps and APIs.</p>

        </aside>

      </section>

    </article>

    <article class="odd">

      <section>

        <aside class="text">

          <h2><a href="/contact">Who I work with</a></h2>

          <p>I partner with startups, agencies and small businesses that are looking to embrace technology to scale and differentiate themselves in their industry. I work alongside my clients to get them to market fast.</p>

        </aside>

      </section>

    </article>

  </section>

  <% if feature?('guides') %>
  <section class="guides">

    <% categories.each_with_index do | category, i | %>
    <%= partial 'guide_section', :locals => { :category => category, :i => i } %>
    <% end %>

    </article>

  </section>
  <% end %>
