---
layout: layout_home
title: Simon Reed - Freelance Senior Ruby and React Developer
navigation: home
---

  <section class="cta">

    <article>

      <a href="contact" class="button button-big">I'm available<span class="desktop"> for work</span></a>


      <span class="image image-round"><img src="/img/avatar.jpg" width="300"></span>

    </article>

  </section>

  <section class="guides">

    <article class="odd">

      <section>

        <aside class="text">

          <h2><a href="/contact">Who I am</a></h2>

          <p>I &hearts; writing clean, stable and well organised software. I've got over 15 years Ruby/JS experience and I've been reliably working with my freelance clients for the last 9 years.</p>

          <p>I can add flexibility and scale to your existing development team or help you start from scratch.</p>

          <p>Add me when you need that extra push and then easily scale down when you don't.</p>

        </aside>

      </section>

    </article>

    <article class="even">

      <section>

        <aside class="text">

          <h2><a href="/contact">What I've made</a></h2>

          <p>I've worked with a wide variety of organizations such as <a href="https://doorflow.com/">DoorFlow</a>, <a href="https://www.currencycloud.com/">Currency Cloud</a> and <a href="https://www.browserlondon.com//">Browser Group</a>. I architect and build systems that power websites, native mobile apps and APIs.</p>

          <p>I've also been working on my own product called <a href="https://heyslate.com/">Slate</a> to help fellow freelancers understand and plan their businesses.</p>
        </aside>

      </section>

    </article>

    <article class="odd">

      <section>

        <aside class="text">

          <h2><a href="/contact">Who I work with</a></h2>

          <p>I work hard at building relationships with my clients so that they can use me as a flexible resource as and when they need me. I've worked with many of my clients for many years, providing them with a reliable service.</p>

          <p>I partner with startups, agencies and businesses that are looking to embrace technology to scale and differentiate themselves in their industry. Over the years I've worked on many kinds of projects from legacy code to fresh new repos, you're not just hiring a developer you're getting an experience developer as and when you need it.</p>

          <p>Experience and flexibility, it's a great combination and if there's anything else you'd like to talk through please get in touch.</p>

        </aside>

      </section>

    </article>

  </section>
