---
layout: layout_home
title: Simon Reed - Freelance Senior Ruby Developer
navigation: home
---

  <section class="cta">

    <article>

      <a href="contact" class="button button-big">I'm available<span class="desktop"> for work</span></a>


      <span class="image image-round"><img src="/img/simon-square.png"></span>

    </article>

  </section>

  <section class="guides">

    <article class="odd">

      <section>

        <aside class="text">

          <h2><a href="/contact">Who I am</a></h2>

          <p>I've been writing commercial software for over 10 years. I help businesses get to market sooner, work more efficiently or just ramp up their development team fast.</p>

        </aside>

      </section>

    </article>

    <article class="even">

      <section>

        <aside class="text">

          <h2><a href="/contact">What I've made</a></h2>

          <p>I've worked with a variety of organizations such as Mint Digital, Deskbeers, TaxiToo and Currency Cloud. I architect and build systems that power websites, native mobile apps and APIs.</p>

        </aside>

      </section>

    </article>

    <article class="odd">

      <section>

        <aside class="text">

          <h2><a href="/contact">Who I work with</a></h2>

          <p>I partner with startup, agencies and small businesses that are looking to embrace technology to scale their business. I work alongside my clients to get them to market fast.</p>

        </aside>

      </section>

    </article>

  </section>

  <% if feature?('guides') %>
  <section class="guides">

    <% categories.each_with_index do | category, i | %>
    <%= partial 'guide_section', :locals => { :category => category, :i => i } %>
    <% end %>

    </article>

  </section>
  <% end %>
