---
layout: layout_home
title: wtf
navigation: home
---

  <section class="cta">

    <article>

      <a href="contact" class="button button-big">I'm available<span class="desktop"> for work</span></a>


      <span class="image image-round"><img src="/img/simon-square.png"></span>

    </article>

  </section>

  <section class="guides">

    <% categories.each_with_index do | category, i | %>
    <%= partial 'guide_section', :locals => { :category => category, :i => i } %>
    <% end %>

    </article>

  </section>
