      <aside class="newsletter">

        <h2>Join the Newsletter</h2>

        <p>Stay up to date and find out when new guides and lessons are posted by signing up for the newsletter, delivered to your inbox with absolutely no spam, ever.</p>

        <form method="post" action=".">

          <ul>
            <li class="input">
              <input type="email" placeholder="Email Address" required="required">
            </li>
            <li class="button">
              <button>Join</button>
            </li>
          </ul>

        </form>

      </aside>