---
layout: layout
navigation: products
---

  <section class="title">

    <article>

      <h1>Products</h1>

      <span class="image"><img src="img/products.png" width="300" height="300"></span>

    </article>

  </section>

  <section class="products">

    <article class="odd">

      <section>

        <aside class="text">

          <h2><a href="/consultancy">Consultancy</a><span class="new">New</span></h2>

          <p>Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicdin ac euismod non, placerat ac augue Pellen habitant. Fusce a metus eu diam. Fusce a metus eu diam varius congue nec.</p>

        </aside>

        <aside class="icon">

          <a href="/consultancy">
            <span class="image"><img src="http://placehold.it/300x300"></span>
          </a>

        </aside>

      </section>

    </article>

    <article class="even">

      <section>

        <aside class="text">

          <h2><a href="/book">The Book Title</a></h2>

          <p>Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicdin ac euismod non, placerat ac augue Pellen habitant. Fusce a metus eu diam. Fusce a metus eu diam varius congue nec.</p>

        </aside>

        <aside class="icon">

          <a href="/book">
            <span class="image"><img src="http://placehold.it/210x300"></span>
          </a>

        </aside>

      </section>

    </article>

  </section>